# ==== IDE & Editor ====
.vscode/

# ==== OS files ====
.DS_Store
Thumbs.db

# ==== Editor swap/backups ====
*~
*.swp

# ==== Dependencies ====
/_deps/

# ==== CMake outputs ====
CMakeFiles/
cmake_install.cmake
CMakeCache.txt
Makefile

# ==== Generated tools & code ====
elf2uf2/
generated/
pioasm/
pico_flash_region.ld

# ==== Firmware & binary artifacts ====
*.bin
*.hex
*.uf2
*.elf
*.dis
*.map
*.pio.h

# ==== Source: ignore everything except these tracked files ====
/src/*
!/src/picoboot-dx.c
!/src/picoboot-dx.pio
!/src/pio.c
!/src/pio.h
!/src/led.c
!/src/led.h
!/src/endian.h
