.idea
.vscode
_deps
.DS_Store

# Build environment
src/*
!src/picoboot-dx.c
!src/picoboot-dx.pio
!src/pio.c
!src/pio.h
CMakeFiles/
elf2uf2/
generated/
pico-sdk/
pico_flash_region.ld
pioasm/
cmake_install.cmake
CMakeCache.txt
CMakeDoxyfile.in
CMakeDoxygenDefaults.cmake
Makefile
picoboot-dx.bin
picoboot-dx.dis
picoboot-dx.elf
picoboot-dx.elf.map
picoboot-dx.hex
picoboot-dx.uf2
picoboot-dx.pio.h
ipl.h
*.dol
